@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url(Untitled-1.jpg) no-repeat center;
}
.container {
  margin-top: 7.5rem;
  margin-bottom: 2rem;
}
h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 7.5rem;
  background-image: linear-gradient(60deg, #e21143, #ffb03a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 0.09rem rgb(246, 239, 239);
}
main {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
main i {
  font-size: 5rem;
}
a .fa-square-facebook {
  color: #1877f2;
  animation-delay: 5.5s;
  text-decoration: none;
}

a .fa-square-whatsapp {
  color: #25d366;
  animation-delay: 2s;
  text-decoration: none;
}

a .fa-github {
  color: #020202;
  text-decoration: none;
  animation-delay: 3.5s;
}
a .fa-discord {
  color: #363232;
  text-decoration: none;
  animation-delay: 1s;
}
a .fa-instagram {
  color: #d91c1c;
  text-decoration: none;
  animation-delay: 1s;
}
a .fa-envelope {
  color: red;
}
/* responsive */
@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    justify-items: center;
    align-content: space-between;
    margin-top:10rem;
  }
  
  main i {
    font-size: 7.5rem;
  }
}
@media (max-width: 64rem) {
  /* main i {
    font-size: 5.5rem;
  } */
}
@media (max-width: 58.3319rem) {
  /* main i {
    font-size: 5rem;
  } */
}
@media (max-width: 49.75rem) {
  h1 {
    font-size: 5.5rem;
  }
  /* main i {
    font-size: 5rem;
  } */
}

@media (max-width: 45.8319rem) {
  h1 {
    font-size: 6rem;
  }
  /* main i {
    font-size: 5.5rem;
  } */
}

@media (max-width: 41.6656rem) {
  h1 {
    font-size: 5.5rem;
  }
  /* main i {
    font-size: 6rem;
  } */
}

@media (max-width: 39.1656rem) {
  h1 {
    font-size: 5rem;
  }
  /* main i {
    font-size: 3.25rem;
  } */
}

@media (max-width: 37.4994rem) {
  h1 {
    font-size: 5rem;
  /* }
  main i {
    font-size: 3rem; */
  }
}
@media (max-width: 33.3325rem) {
  h1 {
    font-size: 5rem;
  }
  /* main i {
    font-size: 2.75rem;
  } */
}

@media (max-width: 31.6656rem) {
  h1 {
    font-size: 5rem;
  }
  /* main i {
    font-size: 2.5rem;
  }
} */
@media (max-width: 29.1656rem) {
  h1 {
    font-size: 4.5rem;
  }
  /* main i {
    font-size: 2rem;
  } */
}

@media (max-width: 26.6663rem) {
  h1 {
    font-size: 4rem;
  }
  /* main i {
    font-size: 2rem;
  } */
}
